textarea{
    width: 318px;
    height: 197px;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,400,700');

body{
    /* background-color: #ffebd1; */
    /* background-image: url(https://is2.4chan.org/wg/1592021252847.jpg); */
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
}
h3{
    font-size: 30px;
    padding-bottom: 30px;
}

.Meet{
    position: absolute;
    left: 50%;
    top:30%;
    transform: translate(-50%,-19%);
    width: 80%;
    height:750px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    /* background: #b87333; */
    padding:40px;
    padding-top:20px

}

.MessageContainer {
    position: absolute;
    top:52%;
    left:78%;
    transform: translate(-50%,-50%);
    width: 400px;
    height:650px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    /* background: #b87333; */
    border: solid 5px #CFB095;

    padding:40px;
    padding-top:20px
}
input {
    margin-bottom: 20px;
    width: 100%;
    border:none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    display:16px
}

button{
    border:none;
    height:40px;
    outline:none;
    color: #ffffff;
    font-size: 15px;
    background-color: tomato;
    cursor: pointer;
    border-radius: 20px;
}

button:hover{
    background-color: thistle;
    color: white;
}

.MeetUs {
    position: absolute;
    top:31%;
    left:30%;
    transform: translate(-50%,-50%);
    width: 50%;
    height:50%;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    /* background: #b87333; */
    padding:40px;
    padding-top:20px;
}
.contact-infos {
    font-size: 18px;
    text-align: left;
}