@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,400,700');

body {
    font-family: 'Open Sans', sans-serif;
  }

.CurrentArticle{
    position: relative;
	margin-bottom: 5%;
	margin-top: 10%;
	left: 10%;
	width: 80%;
	height: auto;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    padding:40px;
	padding-top:20px
    
}
.CurrentArticle p{
    position: relative;
    text-align: left;
    text-indent: 8%;
    font-size: 80%
}
.CurrentArticle h1{
    text-align: center;
    font-family: "Oswald", sans;
    font-weight: normal;
    margin-bottom: 3%;
    
}
.CurrentArticle img{
    position: relative;
    max-width: 60%;
}
.DetailsContent{
    font-size: 30px;
}
.articleInfo {
    color: #4d4131;
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    
}