@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,400,700');

body{
    background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
}
.Add-article{
    position: relative;
	margin-bottom: 5%;
	margin-top: 10%;
	left: 10%;
	width: 80%;
	height: auto;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    padding:40px;
	padding-top:20px

}
.Article-Form-area {
    width: 80%;
    height:auto;
    background: rgba(0,0,0,0.5);
    border: solid 5px #CFB095;
    text-align: center;
	overflow: hidden;
    margin: 1em auto;
    
	border-radius: 5px;

}

.Article-Form-area textarea {
    width: 90%;
    min-height: 500px;
    margin-top: 5%;

}
#categories {
    margin-bottom: 20px;
    width: 100%;
    border:none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: lightgray;
    display:16px
}
#categories:hover{
    background-color: #CFB095;

}

input {
    margin-bottom: 20px;
    width: 100%;
    border:none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    display:16px
}

button{
    border:none;
    height:40px;
    outline:none;
    color: #ffffff;
    font-size: 15px;
    background-color: tomato;
    cursor: pointer;
    border-radius: 20px;
}

button:hover{
    background-color: thistle;
    color: white;
}